@layout('components/layout')
  @slot('main')
    {{-- Tout ce que tu écris ici sera injecté dans le {{{ await $slots.main() }}} du layout --}}
    <section>
      <h2>
        Bienvenue sur FlashCards
      </h2>
      <p>
        C'est ici que tes paquets de cartes s'afficheront bientôt !
      </p>
    </section>
  @end
@end
