@layout('components/layout')
  @slot('main')
    {{-- Tout ce que tu écris ici sera injecté dans le {{{ await $slots.main() }}} du layout --}}
    <section>
      <h2>
        Mes Decks
      </h2>
      <div>
        @each (deck in decks)
          <div>
            {{ deck.title }}
          {{ deck.description }}
          </div>
        @end
      </div>
    </section>
  @end
@end
