@layout('components/layout')
  @slot('main')
    {{-- Tout ce que tu écris ici sera injecté dans le {{{ await $slots.main() }}} du layout --}}
    <section>
      <h2>
        Mes Decks
      </h2>
    </section>
  @end
@end
