<nav class="navbar">
  <div class="nav-left">
    <img src="/img/flashcardsLogo.jpg" alt="Logo" height="25" />
    <span class="nav-brand">Flash Cards</span>
  </div>

  <div class="nav-right">
    <span class="user-status">Connecté : <strong>username</strong></span>
    <a href="{{ route ('home') }}" class="btn-logout">Déconnexion</a>
  </div>
</nav>
